body {
    font-family: sans-serif;
    font-size: 12pt;
}

input, button {
    font-size: 12pt;
    border: 1px solid #eee;
    border-radius: 8pt;
    padding: 4pt;
}

button {
    background-color: #eee;
}

#message-input, #message-submit {
    width: 100%;
}

#participants > ul, .chats > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.message, #participants > ul > li {
    margin-bottom: 0.2em;
    white-space: pre-wrap;
}

.message.event-message, .message.other-message {
    opacity: 0.4;
}

#participants > ul > li {
    white-space: nowrap;
}

.chats > ul > li {
    display: inline;
}

.chats > ul > li::before {
    content: "\0000B7  ";
}

.chats > ul > li:first-child::before {
    content: "";
}

.chats > ul > li.highlighted > a {
    color: red;
}

.sigil {
    display: inline-block;
    text-align: center;
    width: 1em;
}

.timestamp {
    display: inline-block;
    width: 4em;
}

@media (min-width: 700px) {
    #message-field {
        display: flex;
    }

    #messages {
        flex-grow: 1;
    }

    #participants {
        padding-left: 1em;
    }
}
