<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Smuxi{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script type="text/javascript" src="/static/smuxi.js"></script>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
