{% extends "base" %}
{% block title %}{{ chat.name | escape }} &ndash; Smuxi{% endblock %}
{% block body %}
    {% assign chats_section_id = 'highlighted-chats' %}
    {% assign chats_to_list = highlighted_chat_tabs %}
    {% assign chats_down_link_target = '#chats' %}
    {% include "chats" %}
    <section id="topic">{{ chat.topic }}</section>
    <form action="{{ chat_index | escape }}/message" method="post">
      <p>
        <input type="text" name="message" id="message-input" />
        <button type="submit" id="message-submit">Send</button>
      </p>
    </form>
    <section id="message-field">
      <section id="messages">
      </section>
      <section id="participants">
        <ul>
          {% for user in chat.users %}
          <li>{{ user }}</li>
          {% endfor %}
        </ul>
      </section>
    </section>
    {% assign chats_section_id = 'chats' %}
    {% assign chats_to_list = chat_tabs %}
    {% assign chats_down_link_target = null %}
    {% include "chats" %}
    <script type="text/javascript">
      Smuxi.initMessageRefresh();
    </script>
{% endblock %}
